In [2]:
#Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.
(150*3)/3-(8**2)+14.25

100.25

In [3]:
4 * (6 + 5)

44

In [4]:
4 * 6 + 5

29

In [5]:
4 + 6 * 5

34

In [6]:
3 + 1.5 + 4
#float

8.5

In [7]:
#What would you use to find a numberâ€™s square root, as well as its square?
36**0.5

6.0

In [8]:
6**2

36

In [11]:
#Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:
"hello"[1]

'e'

In [15]:
# Reverse the string using slicing
s ='hello'
s[::-1]

'olleh'

In [17]:
#Build this list [0,0,0] two separate ways.
[0]*3

[0, 0, 0]

In [19]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]
list3[2][2]="goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

In [20]:
#Sort the list below:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [21]:
#Using keys and indexing, grab the 'hello' from the following dictionaries:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [23]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [24]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [26]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [30]:
#se a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [31]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#3>=4
#false

False